<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    
    <link rel="stylesheet" href="/style.css">
    <title>SignUp</title>
</head>
<body>
    <div class="container" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBRzQeBpVdnVh5QjHFn6K5Oq-syqdZENYxuw&usqp=CAU');">
     <div class="signup_container">
       <h2>Create your account</h2>
       <div>
         <div class="form-container">
       <form action="/postInfo" method="POST">
           <div class="innerdiv">
            <input type="text" name="name" id="name" placeholder="Name"><br>
          </div>
          <div class="innerdiv">
            <input type="text" name="mailid" id="mailid" placeholder="Email"><br>
          </div>
          <div class="innerdiv">
            <input type="text" name="phonenumber" id="phonenumber" placeholder="Phonenumber"><br>
          </div>
          <div class="innerdiv">
            <input type="text" name="password" id="password" placeholder="password">
          </div>
          

          <button class="btn" type="submit">SignUp</button>
          
       </form>
      </div>
      </div>
     </div>

    </div>
</body>
</html>