<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/expenseReport" method="POST">
    <input type="text" name="expenseamount" id="expenseamount" placeholder="expenseamount"><br><br>
    <input type="text" name="description" id="description" placeholder="description"><br><br>
    
    <input type="text" name="category" id="category" placeholder="category" placeholder="category">
    <button type="submit">submit</button>
</form>
</body>
</html>