<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/user/login" method="POST">
     <input type="text" name="mailid"  id="mailid" placeholder="username"><br><br>
     <input type="text" name="password"  id="password" placeholder="password"><br><br>

     <button type="submit">submit</button>
    </form>
</body>
</html>