*{
  padding: 0;
  margin: 0;

}
body{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.card{
 
  height: 200px;
  width: 350px;
  background-color: rgb(29, 231, 29);
  color: rgb(0, 0, 0);
  
}
input{
  display: block;
 margin-left: 35px;
 border: 2px solid black;
 width: 250px;

 
}